.button{
  color: white;
  padding: 14px 24px;
  background-color: #A0E9FF;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.button:hover{
  background-color: #89CFF3;
}


